<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="TipoConn" value="2"/><!--2=INFORMIX; 1=SQL-->
  <add key="BaseDatos" value="tbase"/><!--nombre del servidor de la base de datos-->
  <add key="DataSource" value="tbase@sfi400"/>
  <!--tbase@sfi400 ó DANIEL\SQLSERVER2012 nombre de la instancia completa del servidor ifx-->
  <add key="UserId" value="sfi400"/>
  <add key="Password" value="MTIzNDU2Nzg5MDEyMzQ1NkBg/VD9LzuZKP0XeK+eiVs="/><!--ifx-->
  <!--<add key="Password" value="MTIzNDU2Nzg5MDEyMzQ1NtHtXoMXiSxWMRHptwxXVqM=" />  --><!--SQL-->
  <add key="dbLocale" value="en_US.819"/>
  <add key="clientLocale" value="en_US.CP1252"/>
  <add key="IpServer" value="192.168.100.229"/>
  <add key="PuertoMTSocket" value="1234"/>
  <add key="UsuarioMT" value="WEB"/>
</appSettings>
